body, html {
  height: 100%;
}
section {
  min-height: 100vh;
}
main {
  margin-left: 25rem;
}
main.plugin {
  margin: 0;
}
aside {
  max-width: 25rem;
}
/* plugin page styling */

.ui-widget-content {
  border: none !important;
}
.ui-draggable, .ui-droppable {
  background-position: top;
}
.pictures {
  display: grid;
  grid-gap: 10px;
  grid-row-gap: 10px;
}
@media (min-width: 90em) {
  .pictures {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 300px;
  }
}
@media (max-width: 90em) and (min-width:60em) {
  .pictures {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
  }
}
@media (max-width:60em) and (min-width: 30em) {
  .pictures {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 200px;
  }
}
.ui-widget-content, .ui-draggable {
  overflow: hidden;
  display: grid;
  place-items: center;
}
.page-grid {
  grid-template-columns: 7fr 3fr;
  grid-gap: 10px;
  display: grid;
}
.ui-widget-header {
  background: #e9e9e9;
  color: #333333;
  font-weight: bold;
}
.ui-state-highlight {
  background: #fffa90;
  color: #777620;
  background-size: contain;
  background-repeat-x: no-repeat;
}
